@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

::-webkit-scrollbar {
    appearance: none;
}

* {
    font-family: sans-serif, 'Poppins';
}

body {
    background: #191414;
}