@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

::-webkit-scrollbar {
    appearance: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #181818;
}

/* Side Menu Style */
.leftMenu {
    transition: all .3s cubic-bezier(0.175, 0.008, 0.32, 1.275);
}

.menuContainer ul li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    width: 0px;
    height: 100%;
    background: #49e12e;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.menuContainer ul li {
    background: transparent;
    border-radius: 5px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    transition: all .2s ease-in;
    padding: 1rem 0;
}

.menuContainer ul li:hover::before,
.menuContainer ul li.active::before {
    width: 5px;
}

.menuContainer ul li:hover,
.menuContainer ul li.active {
    background: #4b4a4a3d;
}

.menuContainer ul li.active a {
    color: white;
}

/* Playlist style */
.library_body,
.artist_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.playlist_card:hover .playlist_fade {
    opacity: 1;
    cursor: pointer;
}

.playlist_fade {
    bottom: 17%;
    opacity: 0;
    width: 100%;
    height: 83%;
    transition: all .2s linear;
    background: linear-gradient(180deg, #313231ad 10%, rgba(21, 21, 21, 0.503) 100%);
}

@media only screen and (max-width: 765px) {

    .library_body,
    .artist_container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media only screen and (max-width: 625px) {

    .library_body,
    .artist_container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

.table-songs tr.active .play-btn,
.table-songs .play-btn:focus,
.table-songs .play-btn:hover {
    color: #dadce1;
    outline: none;
}

/* Audio player */
:root {
    --track-bg: #312f2f;
}

.progress {
    background: var(--track-bg);
    border: solid 2px transparent;
    border-radius: 8px;
    height: 6px;
    width: var(--track-width);
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

/* Recent page style */
.recent_card .recent_icon {
    opacity: 0;
}

.recent_card:hover .recent_icon {
    opacity: 1;
}