@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

::-webkit-scrollbar {
    appearance: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Side Menu Style */
.leftMenu {
    transition: all .3s cubic-bezier(0.175, 0.008, 0.32, 1.275);
}

.menuContainer ul li::before {
    position: absolute;
    content: '';
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background: #49e12e;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.menuContainer ul li:hover::before,
.menuContainer ul li.active::before {
    width: 5px;
}

.menuContainer ul li.active a {
    color: white;
}